<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Model Deployment : Bankauth</h1>
    <p>Enter number</p>
    <form action="/" method="POST">
        <input type="number" step="any" name="variance" placeholder="variance">
        <input type="number" step="any" name="skewness" placeholder="skewness">
        <input type="number" step="any" name="curtosis" placeholder="curtosis">
        <input type="number" step="any" name="entropy" placeholder="entropy">
        <input type="submit" value="Predict">
    </form>
    <p>Your predicted is</p>
    {{prediction}}
</body>
</html>
